.statistics{
    margin-top: 20px;
background-color: white;
width: 320px;
margin-bottom: 50px;
}

.title{
font-size: 24px;
font-weight: 500;
display: flex;
justify-content:center;
margin-bottom: 20px;
color: darkgrey;
}

.statList{
display: flex;

}

.item{
text-align: center;
width: 80px;
height: 60px;

}

.label{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: flex-end;
color: aliceblue;

}

.percentage{
font-size: 24px;
color: aliceblue;
}